<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    <session-config>
        <session-timeout>
           3600
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>org.sun.Library.Modul.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCategory</servlet-name>
        <servlet-class>org.sun.Library.Modul.NewCategory</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>addPerson</servlet-name>
        <servlet-class>org.sun.Library.Modul.addPerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePerson</servlet-name>
        <servlet-class>org.sun.Library.Modul.updatePerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBook</servlet-name>
        <servlet-class>org.sun.Library.Modul.addBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBook</servlet-name>
        <servlet-class>org.sun.Library.Modul.IssueBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBook</servlet-name>
        <servlet-class>org.sun.Library.Modul.ReturnBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fine</servlet-name>
        <servlet-class>org.sun.Library.Modul.Fine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>testlibrary.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>org.sun.Library.Modul.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCategory</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPerson</servlet-name>
        <url-pattern>/addPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePerson</servlet-name>
        <url-pattern>/updatePerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBook</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBook</servlet-name>
        <url-pattern>/issuebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBook</servlet-name>
        <url-pattern>/returnbook</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>Fine</servlet-name>
        <url-pattern>/fine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>FilterLogin</filter-name>
        <filter-class>org.sun.Library.Filter.Login</filter-class>
    </filter>
    <filter>
        <filter-name>FilterCategory</filter-name>
        <filter-class>org.sun.Library.Filter.Category</filter-class>
    </filter>
    <filter>
        <filter-name>PersonInfo</filter-name>
        <filter-class>org.sun.Library.Filter.FilterPersonInfo</filter-class>
    </filter>
    <filter>
        <filter-name>FilterBook</filter-name>
        <filter-class>org.sun.Library.Filter.FilterBook</filter-class>
    </filter>
    <filter>
        <filter-name>FilterIssueBook</filter-name>
        <filter-class>org.sun.Library.Filter.FilterIssueBook</filter-class>
    </filter>
    <filter>
        <filter-name>FilterReturnBook</filter-name>
        <filter-class>org.sun.Library.Filter.FilterReturnBook</filter-class>
    </filter>
     <filter>
        <filter-name>FilterFine</filter-name>
        <filter-class>org.sun.Library.Filter.FilterFine</filter-class>
    </filter>
    <filter>
        <filter-name>FilterChangePassword</filter-name>
        <filter-class>org.sun.Library.Filter.FilterChangePassword</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterCategory</filter-name>
        <url-pattern>/addcategory</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PersonInfo</filter-name>
        <url-pattern>/addPerson</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterBook</filter-name>
        <url-pattern>/addBook</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterIssueBook</filter-name>
        <url-pattern>/issuebook</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterReturnBook</filter-name>
        <url-pattern>/returnbook</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterFine</filter-name>
        <url-pattern>/fine</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterChangePassword</filter-name>
         <url-pattern>/changePassword</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.sun.Library.Lisiner.DataBase</listener-class>
    </listener>
</web-app>
